* {
	margin: 0;
}
body {
	font-family: Arial, sans-serif;
	font-size: lem;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
header {
	background-color: #ccecb4;
	padding: 10px;
}

h1 {
	font-family: Fantasy, sans-serif;
	font-size: 60px;
	font-style: italic;
}

h2 {
	font-family: Fantasy, sans-serif;
	font-size: 45px;
}

nav {
	background-color: #5e5e5e;
	color: #ccecb4;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}

footer{
	background-color: #5e5e5e;
	font-size: .9em;
	font-style: italic;
	color: #ccecb4;
	margin-top: auto;
}

.clothingImg {
	width: 250px;
}

table, td, th {
	border-spacing: 0;
}

table {
	width: 100%;
}

th {
	font-family: Arial, sans-serif;
	font-size: 20px;
	background-color: #5e5e5e;
	border: 1px solid #ccecb4;
	color: #ccecb4;
}

td {
	background-color: #ccecb4;
	font-size: 22px;
	border: 1px solid #5e5e5e;
}

th, td {
	padding: 10px;
}